:root {
  --primary-color: #FFF;
  --secondary-color: #000;
}

html {
  height: 100%;
  font-family: sans-serif;
}
body {
  height: 100%;
  margin: 0;
  background-color: var(--primary-color);
}
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system ,system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;
  color: var(--secondary-color);
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .file-upload {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--secondary-color);
    overflow: hidden;
    background-image: linear-gradient(to bottom, var(--secondary-color) 50%, var(--primary-color) 50%);
    background-size: 100% 200%;
    transition: background-position 500ms, background-color 500ms;
    color: var(--primary-color);
    font-size: 100px;

    &:hover {
      cursor: pointer;
      background-position: 0 -100%;
      color: var(--secondary-color);
    }

    input[type="file"] {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }

    .fa-arrow-up {
      font-size: 50px;
    }
  }
}

.dark-toggle {
  position: fixed;
	bottom: 1.5em;
	right: 2em;
  color: var(--secondary-color);
  cursor: pointer;
}
