<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>muse.ai Design Challenge</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  </head>

  <body>
    <div class="wrapper">
      <h1>Welcome!</h1>
      <h2>Click on the button to upload your video.</h2>

      <div class="file-upload">
        <input type="file" accept="video/*">
        <i class="fa fa-arrow-up"></i>
      </div>
    </div>

    <div class="dark-toggle switch-color">
      <i class="far fa-moon"></i>
    </div>
  </body>
</html>
